/* You can add global styles to this file, and also import other style files */

@use 'fonts';
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
html, body {
  min-height: 100vh;
  font-family: 'Novelist', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013220;
}
